/* ------------common style----------- */
body {
    margin: 50px;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/*------------ 1st section -------------*/
.influencer-divs {
    display: flex;
    margin-left: 10px;
    border: 1px solid green;
}

.influencer-text {
    max-width: 100%;
    margin: auto;
    width: 50%;
    border: 1px dashed blue;
}

.influencer-text button {
    background-color: #E02C6D;
    border-radius: 20px;
    color: white;
    width: 196px;
    height: 44px;
    border: 0 solid white;
}

.fa-arrow-right {
    margin-left: 5px;
}

.influencer-images {
    border: 1px dotted red;
    width: 50%;
    padding: 30px;
}

.influencer-images img {
    width: 100%;
}

/* logos part */

.logos {
    display: flex;
    justify-content: space-between;
}

.logos img {
    margin: 15px 0px;
}

/* -------------Popular collection part------------- */

.product-banner img {
    width: 300px;
    height: 256px;
}

.star-icon {
    color: orange;
    font-size: 16px;
}