/* ------------common style----------- */
body {
    font-family: 'Poppins', sans-serif;
    margin: 10px 50px;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/*------------ 1st section -------------*/
.influencer-divs {
    display: flex;
    margin-left: 10px;
}

.influencer-text {
    max-width: 100%;
    margin: auto;
    width: 50%;
}

.influencer-text button {
    background-color: #E02C6D;
    border-radius: 20px;
    color: white;
    width: 196px;
    height: 44px;
    border: 0 solid white;
}

.fa-arrow-right {
    margin-left: 5px;
}

.influencer-images {
    width: 50%;
    padding: 30px;
}

.influencer-images img {
    width: 100%;
}

/* logos part */
hr {
    margin: 25px 0px;
}

.logos {
    display: flex;
    justify-content: space-between;
}

/* -------------Popular collection part------------- */
h2 {
    text-align: center;
}

.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.product {
    padding: 10px;
    border-radius: 8px;
    background-color: white;
    filter: drop-shadow(0px 5.34229px 13.3557px rgba(0, 0, 0, 0.25));
}

.product-banner img {
    width: 300px;
    height: 256px;
}

.star-icon {
    color: orange;
    font-size: 16px;
}

.see-more button {
    background-color: white;
    color: #E02C6D;
    border: 0 solid white;
    width: 99px;
    height: 24px;
}